* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#interface {
    background: url(../images/banner.jpg) no-repeat center / cover;
    padding: 100px 0;
    position: relative;
    z-index: 11;
}
#interface::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.596);
    top: 0;
    left: 0;
    z-index: -11;
}
.interface-main {
    display: flex;
    position: relative;
    padding: 150px 0;
}
.interface-text {
    width: 50%;
}
.interface-text h1 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    color: rgba(215, 101, 230, 0.986);
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}
.interface-box {
    width: 50%;
    
}
.form {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: rgba(37, 35, 35, 0.781);
    top: 50px;
    right: 150px;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.form h3 {
    color: orange;
    margin-bottom: 40px;
    font-size: 25px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}
.form a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
    transition: 0.5s;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}
.form a:hover {
    background-color: rgb(20, 211, 211);
    color: #f01355;
    border: 2px solid transparent;
}